build/
release/
Releases/Builds/
Releases/2.0/*.pkg
Releases/2.0/*.zip
.DS_Store
*.p12
*.p8
*.key
.env

Releases/2.1/*.pkg
Releases/2.1/*.zip

Releases/2.2/*.pkg
Releases/2.2/*.zip

Releases/2.3/*.pkg
Releases/2.3/*.zip

Releases/2.4/*.pkg
Releases/2.4/*.zip

Releases/2.5/*.pkg
Releases/2.5/*.zip

Releases/2.6/*.pkg
Releases/2.6/*.zip

Releases/2.7/*.pkg
Releases/2.7/*.zip

Releases/2.8/*.pkg
Releases/2.8/*.zip

Releases/2.9/*.pkg
Releases/2.9/*.zip

Releases/2.10/*.pkg
Releases/2.10/*.zip
